<div *ngIf="registration_form">
  <h1 class="title"> Passerelles Numeriques Squad </h1>
  <div class="container">

    <form class="example-form" (ngSubmit)="onSubmit()" #sampleForm="ngForm">
      <mat-card>
        <mat-label class="reg"> REGISTER</mat-label>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name" name="name" [(ngModel)]="firstname" #ngalan="ngModel" required>
        </mat-form-field>
        <div *ngIf="ngalan.invalid && (ngalan.dirty || ngalan.touched)" class="alert alert-danger">
          <div *ngIf="ngalan.errors.required">
            This field is required
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name" name="lastname" [(ngModel)]="lastname" #apelyido="ngModel" required>
        </mat-form-field>
        <div *ngIf="apelyido.invalid && (apelyido.dirty || apelyido.touched)" class="alert alert-danger">
          <div *ngIf="apelyido.errors.required">
            This field is required
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="emailni" #mail="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
        </mat-form-field>
        <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">

          <div *ngIf="mail.errors.required">
            This field is required
          </div>
          <div *ngIf="mail.errors.pattern">
            Must follow an email format
          </div>
        </div>


        <mat-form-field class="example-full-width">
          <mat-label>GENDER</mat-label>
          <mat-select [(ngModel)]="gender" name="gender" #genders="ngModel" required>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="genders.invalid && (genders.dirty || genders.touched)" class="alert alert-danger">
          <div *ngIf="genders.errors.required">
            This field is required
          </div>
        </div>

        <mat-form-field class="example-full-width">
          <mat-label>FAVORITE FRAMEWORK:</mat-label>
          <mat-select [(ngModel)]="favframe" name="favframe" #frame="ngModel" required>
            <mat-option value="Angular">Angular</mat-option>
            <mat-option value="React">React</mat-option>
            <mat-option value="Vue">Vue</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="frame.invalid && (frame.dirty||frame.touched)" class="alert alert-danger">
          <div *ngIf="frame.errors.required">
            Please choose your favorite framework
          </div>
        </div>
        <br><button mat-raised-button color="accent" type="submit" [disabled]="!sampleForm.form.valid">SUBMIT</button>
      </mat-card>
    </form>
  </div>
  <hr>
</div>
<div *ngIf="list">
  <app-list [input]="member" (outputEvent)="update($event)" (editEvent)="($index_to_edit)"></app-list>
</div>